wsdl/greatings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://crowdservices.it/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://crowdservices.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://crowdservices.it/">
      <s:element name="GreatingsRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GreatingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="GreatingsSoapIn">
    <wsdl:part name="parameters" element="tns:GreatingsRequest" />
  </wsdl:message>
  <wsdl:message name="GreatingsSoapOut">
    <wsdl:part name="parameters" element="tns:GreatingsResponse" />
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="GreatingsSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="Greatings">
      <wsdl:input message="tns:GreatingsSoapIn" />
      <wsdl:output message="tns:GreatingsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="GreatingsServiceSoapBinding" type="tns:GreatingsSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Greatings">
      <soap:operation soapAction="Greatings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GreatingsServiceSoap12Binding" type="tns:GreatingsSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Greatings">
      <soap12:operation soapAction="Greatings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="GreatingsService">
    <wsdl:port name="GreatingsServiceSoapPort" binding="tns:GreatingsServiceSoapBinding">
      <soap:address location="http://localhost:5000/greatings" />
    </wsdl:port>
    <wsdl:port name="GreatingsServiceSoap12Port" binding="tns:GreatingsServiceSoap12Binding">
      <soap12:address location="http://localhost:5000/greatings" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>