wsdl/wsc4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="WSConnector" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
   <wsdl:types>
      <xsd:schema targetNamespace="http://tempuri.org/Imports">
         <xsd:import schemaLocation="http://localhost/PAT.CRM.WSC4/WSConnector.svc?xsd=xsd3" namespace="http://tempuri.org/" />
         <xsd:import schemaLocation="http://localhost/PAT.CRM.WSC4/WSConnector.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
         <xsd:import schemaLocation="http://localhost/PAT.CRM.WSC4/WSConnector.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.Runtime" />
         <xsd:import schemaLocation="http://localhost/PAT.CRM.WSC4/WSConnector.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="IWSConnector_Execute_InputMessage">
      <wsdl:part name="parameters" element="tns:Execute" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_Execute_OutputMessage">
      <wsdl:part name="parameters" element="tns:ExecuteResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_ExecuteEx_InputMessage">
      <wsdl:part name="parameters" element="tns:ExecuteEx" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_ExecuteEx_OutputMessage">
      <wsdl:part name="parameters" element="tns:ExecuteExResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_ChangePassword_InputMessage">
      <wsdl:part name="parameters" element="tns:ChangePassword" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_ChangePassword_OutputMessage">
      <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_ChangePassword_WSCOperationFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q1:WSCOperationFault" xmlns:q1="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.Runtime" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_GetToken_InputMessage">
      <wsdl:part name="parameters" element="tns:GetToken" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_GetToken_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetTokenResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_GetToken_WSCOperationFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q2:WSCOperationFault" xmlns:q2="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.Runtime" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_GetTokenInfo_InputMessage">
      <wsdl:part name="parameters" element="tns:GetTokenInfo" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_GetTokenInfo_OutputMessage">
      <wsdl:part name="parameters" element="tns:GetTokenInfoResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_GetTokenInfo_WSCOperationFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q3:WSCOperationFault" xmlns:q3="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.Runtime" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_RefreshToken_InputMessage">
      <wsdl:part name="parameters" element="tns:RefreshToken" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_RefreshToken_OutputMessage">
      <wsdl:part name="parameters" element="tns:RefreshTokenResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_RefreshToken_WSCOperationFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q4:WSCOperationFault" xmlns:q4="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.Runtime" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_RevokeToken_InputMessage">
      <wsdl:part name="parameters" element="tns:RevokeToken" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_RevokeToken_OutputMessage">
      <wsdl:part name="parameters" element="tns:RevokeTokenResponse" />
   </wsdl:message>
   <wsdl:message name="IWSConnector_RevokeToken_WSCOperationFaultFault_FaultMessage">
      <wsdl:part name="detail" element="q5:WSCOperationFault" xmlns:q5="http://schemas.datacontract.org/2004/07/PAT.CRM.WSC4.Runtime" />
   </wsdl:message>
   <wsdl:portType name="IWSConnector">
      <wsdl:operation name="Execute">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/Execute" message="tns:IWSConnector_Execute_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/ExecuteResponse" message="tns:IWSConnector_Execute_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="ExecuteEx">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/ExecuteEx" message="tns:IWSConnector_ExecuteEx_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/ExecuteExResponse" message="tns:IWSConnector_ExecuteEx_OutputMessage" />
      </wsdl:operation>
      <wsdl:operation name="ChangePassword">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/ChangePassword" message="tns:IWSConnector_ChangePassword_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/ChangePasswordResponse" message="tns:IWSConnector_ChangePassword_OutputMessage" />
         <wsdl:fault wsaw:Action="http://tempuri.org/IWSConnector/ChangePasswordWSCOperationFaultFault" name="WSCOperationFaultFault" message="tns:IWSConnector_ChangePassword_WSCOperationFaultFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="GetToken">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/GetToken" message="tns:IWSConnector_GetToken_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/GetTokenResponse" message="tns:IWSConnector_GetToken_OutputMessage" />
         <wsdl:fault wsaw:Action="http://tempuri.org/IWSConnector/GetTokenWSCOperationFaultFault" name="WSCOperationFaultFault" message="tns:IWSConnector_GetToken_WSCOperationFaultFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="GetTokenInfo">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/GetTokenInfo" message="tns:IWSConnector_GetTokenInfo_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/GetTokenInfoResponse" message="tns:IWSConnector_GetTokenInfo_OutputMessage" />
         <wsdl:fault wsaw:Action="http://tempuri.org/IWSConnector/GetTokenInfoWSCOperationFaultFault" name="WSCOperationFaultFault" message="tns:IWSConnector_GetTokenInfo_WSCOperationFaultFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="RefreshToken">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/RefreshToken" message="tns:IWSConnector_RefreshToken_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/RefreshTokenResponse" message="tns:IWSConnector_RefreshToken_OutputMessage" />
         <wsdl:fault wsaw:Action="http://tempuri.org/IWSConnector/RefreshTokenWSCOperationFaultFault" name="WSCOperationFaultFault" message="tns:IWSConnector_RefreshToken_WSCOperationFaultFault_FaultMessage" />
      </wsdl:operation>
      <wsdl:operation name="RevokeToken">
         <wsdl:input wsaw:Action="http://tempuri.org/IWSConnector/RevokeToken" message="tns:IWSConnector_RevokeToken_InputMessage" />
         <wsdl:output wsaw:Action="http://tempuri.org/IWSConnector/RevokeTokenResponse" message="tns:IWSConnector_RevokeToken_OutputMessage" />
         <wsdl:fault wsaw:Action="http://tempuri.org/IWSConnector/RevokeTokenWSCOperationFaultFault" name="WSCOperationFaultFault" message="tns:IWSConnector_RevokeToken_WSCOperationFaultFault_FaultMessage" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="BasicHttpBinding_IWSConnector" type="tns:IWSConnector">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Execute">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/Execute" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ExecuteEx">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/ExecuteEx" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="ChangePassword">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/ChangePassword" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="WSCOperationFaultFault">
            <soap:fault name="WSCOperationFaultFault" use="literal" />
            <soap:fault name="WSCOperationFaultFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetToken">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/GetToken" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="WSCOperationFaultFault">
            <soap:fault name="WSCOperationFaultFault" use="literal" />
            <soap:fault name="WSCOperationFaultFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="GetTokenInfo">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/GetTokenInfo" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="WSCOperationFaultFault">
            <soap:fault name="WSCOperationFaultFault" use="literal" />
            <soap:fault name="WSCOperationFaultFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="RefreshToken">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/RefreshToken" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="WSCOperationFaultFault">
            <soap:fault name="WSCOperationFaultFault" use="literal" />
            <soap:fault name="WSCOperationFaultFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="RevokeToken">
         <soap:operation soapAction="http://tempuri.org/IWSConnector/RevokeToken" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
         <wsdl:fault name="WSCOperationFaultFault">
            <soap:fault name="WSCOperationFaultFault" use="literal" />
            <soap:fault name="WSCOperationFaultFault" use="literal" />
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="WSConnector">
      <wsdl:port name="BasicHttpBinding_IWSConnector" binding="tns:BasicHttpBinding_IWSConnector">
         <soap:address location="http://localhost:5000/PAT.CRM.WSC4/WSConnector.svc" />
      </wsdl:port>
      <wsdl:port name="BasicHttpBinding_IWSConnector1" binding="tns:BasicHttpBinding_IWSConnector">
         <soap:address location="http://localhost:5000/PAT.CRM.WSC4/WSConnector.svc/Compressed" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>